In [44]:
#importing libraries
from sklearn import datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [45]:
#reading training data set
mm = pd.read_csv('Merged_Movies_data.csv')
print("First few rows of the training dataset:")
mm.head()

First few rows of the training dataset:

,movieId,imdbId,tmdbId,title,original_language,tagline,overview,popularity,adult,poster_path,...,status,video,vote_average,vote_count,keywords,cast,crew,original_title,imdb_id,poster_working_url
0,1,114709,862.0,Toy Story,en,NaN,"Led by Woody, Andy's toys live happily in his ...",21.946943,False,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Released,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Toy Story,tt0114709,Image not found
1,2,113497,8844.0,Jumanji,en,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,17.015539,False,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Released,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Jumanji,tt0113497,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
2,3,113228,15602.0,Grumpier Old Men,en,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,11.712900,False,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Released,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Grumpier Old Men,tt0113228,Image not found
3,4,114885,31357.0,Waiting to Exhale,en,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",3.859495,False,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Released,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",Waiting to Exhale,tt0114885,Image not found
4,5,113041,11862.0,Father of the Bride Part II,en,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,8.387519,False,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Released,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Father of the Bride Part II,tt0113041,Image not found

In [76]:
mm.shape

(47291, 30)

In [46]:
mm_image = mm[~(mm['poster_working_url'] == 'Image not found')]
mm_image

,movieId,imdbId,tmdbId,title,original_language,tagline,overview,popularity,adult,poster_path,...,status,video,vote_average,vote_count,keywords,cast,crew,original_title,imdb_id,poster_working_url
1,2,113497,8844.0,Jumanji,en,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,17.015539,False,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Released,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Jumanji,tt0113497,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,19,112281,9273.0,Ace Ventura: When Nature Calls,en,New animals. New adventures. Same hair.,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,False,/wRlGnJhEzcxBjvWtvbjhDSU1cIY.jpg,...,Released,False,6.1,1128.0,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",Ace Ventura: When Nature Calls,tt0112281,https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,20,113845,11517.0,Money Train,en,"Get on, or GET OUT THE WAY!",A vengeful New York transit cop decides to ste...,7.337906,False,/jSozzzVOR2kfXgTUuGnbgG2yRFi.jpg,...,Released,False,5.4,224.0,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",Money Train,tt0113845,https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,32,114746,63.0,Twelve Monkeys,en,The future is history.,"In the year 2035, convict James Cole reluctant...",12.297305,False,/6Sj9wDu3YugthXsU0Vry5XFAZGg.jpg,...,Released,False,7.4,2470.0,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...","[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'credit_id': '52fe4212c3a36847f8001ac7', 'de...",Twelve Monkeys,tt0114746,https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,34,112431,9598.0,Babe,en,A little pig goes a long way.,Babe is a little pig who doesn't quite know hi...,14.404764,False,/gN6X3fwPya8pLffk9OEWV3DqBnE.jpg,...,Released,False,6.0,756.0,"[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'credit_id': '52fe450fc3a36847f80b9ff7', 'de...",Babe,tt0112431,https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46894,176235,457437,14885.0,Pooh's Heffalump Halloween Movie,en,Celebrate Lumpy's First Halloween.,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,False,/yU6byKhpzHG1RFpY5PYM6mfhfU1.jpg,...,Released,False,5.4,7.0,"[{'id': 3335, 'name': 'halloween'}, {'id': 193...","[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...",Pooh's Heffalump Halloween Movie,tt0457437,https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
46898,176249,5690142,404604.0,Mom,hi,NaN,The bliss of a biology teacher’s family life i...,1.559596,False,/zZwbntqdfKdVgzH1RoMHa99g0mJ.jpg,...,Released,False,6.6,14.0,"[{'id': 155794, 'name': 'physical abuse'}, {'i...","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Maa,tt5690142,https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
46905,176267,102797,30840.0,Robin Hood,en,NaN,"Yet another version of the classic epic, with ...",5.683753,False,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,...,Released,False,5.7,26.0,[],"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",Robin Hood,tt0102797,https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
46907,176271,2028550,111109.0,Century of Birthing,tl,NaN,An artist struggles to finish his work while a...,0.178241,False,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,Released,False,9.0,3.0,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Siglo ng Pagluluwal,tt2028550,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
46910,176279,6980792,461257.0,Queerama,en,NaN,50 years after decriminalisation of homosexual...,0.163015,False,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,Released,False,0.0,0.0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",Queerama,tt6980792,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [47]:
mm_image.isnull().sum()

movieId                     0
imdbId                      0
tmdbId                      0
title                       0
original_language           3
tagline                  3569
overview                  120
popularity                  0
adult                       0
poster_path                 0
budget                      0
genres                      0
homepage                 5169
belongs_to_collection    5608
production_companies        0
production_countries        0
release_date               12
revenue                     0
runtime                    31
spoken_languages            0
status                      6
video                       0
vote_average                0
vote_count                  0
keywords                    1
cast                        1
crew                        1
original_title              0
imdb_id                     4
poster_working_url          0
dtype: int64

In [48]:
movies_data = mm_image.drop(columns = ['belongs_to_collection', 'homepage', 'tagline', 'imdb_id', 'poster_path', 'original_title'] , axis = 1 )

In [49]:
movies_data.isnull().sum()

movieId                   0
imdbId                    0
tmdbId                    0
title                     0
original_language         3
overview                120
popularity                0
adult                     0
budget                    0
genres                    0
production_companies      0
production_countries      0
release_date             12
revenue                   0
runtime                  31
spoken_languages          0
status                    6
video                     0
vote_average              0
vote_count                0
keywords                  1
cast                      1
crew                      1
poster_working_url        0
dtype: int64

In [50]:
movies_data.dropna(inplace = True)

In [51]:
movies_data

,movieId,imdbId,tmdbId,title,original_language,overview,popularity,adult,budget,genres,...,runtime,spoken_languages,status,video,vote_average,vote_count,keywords,cast,crew,poster_working_url
1,2,113497,8844.0,Jumanji,en,When siblings Judy and Peter discover an encha...,17.015539,False,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,19,112281,9273.0,Ace Ventura: When Nature Calls,en,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,False,30000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,False,6.1,1128.0,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,20,113845,11517.0,Money Train,en,A vengeful New York transit cop decides to ste...,7.337906,False,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",...,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,False,5.4,224.0,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,32,114746,63.0,Twelve Monkeys,en,"In the year 2035, convict James Cole reluctant...",12.297305,False,29500000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",...,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,False,7.4,2470.0,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...","[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'credit_id': '52fe4212c3a36847f8001ac7', 'de...",https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,34,112431,9598.0,Babe,en,Babe is a little pig who doesn't quite know hi...,14.404764,False,30000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,False,6.0,756.0,"[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'credit_id': '52fe450fc3a36847f80b9ff7', 'de...",https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46894,176235,457437,14885.0,Pooh's Heffalump Halloween Movie,en,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,False,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",...,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,False,5.4,7.0,"[{'id': 3335, 'name': 'halloween'}, {'id': 193...","[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...",https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
46898,176249,5690142,404604.0,Mom,hi,The bliss of a biology teacher’s family life i...,1.559596,False,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",...,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,False,6.6,14.0,"[{'id': 155794, 'name': 'physical abuse'}, {'i...","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
46905,176267,102797,30840.0,Robin Hood,en,"Yet another version of the classic epic, with ...",5.683753,False,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,False,5.7,26.0,[],"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
46907,176271,2028550,111109.0,Century of Birthing,tl,An artist struggles to finish his work while a...,0.178241,False,0.0,"[{'id': 18, 'name': 'Drama'}]",...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,False,9.0,3.0,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
46910,176279,6980792,461257.0,Queerama,en,50 years after decriminalisation of homosexual...,0.163015,False,0.0,[],...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,False,0.0,0.0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [52]:
movies_data.shape

(6139, 24)

In [53]:
movies_data.isnull().sum()

movieId                 0
imdbId                  0
tmdbId                  0
title                   0
original_language       0
overview                0
popularity              0
adult                   0
budget                  0
genres                  0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
video                   0
vote_average            0
vote_count              0
keywords                0
cast                    0
crew                    0
poster_working_url      0
dtype: int64

#### Final movies_data with no missing values shape(6139*26)

In [54]:
movies_data['popularity'].value_counts()

3.008299    8
0.000844    8
3.185256    8
0.000220    6
0.000308    6
           ..
0.619084    1
9.482806    1
0.661981    1
0.584232    1
0.163015    1
Name: popularity, Length: 5951, dtype: int64

In [55]:
movies_data['adult'].value_counts()

False    6135
True        4
Name: adult, dtype: int64

In [56]:
movies_data['budget'].value_counts()

0.0            4876
20000000.0       34
5000000.0        33
4000000.0        32
10000000.0       32
               ...
2160000.0         1
5800000.0         1
60795000.0        1
258000000.0       1
3417000.0         1
Name: budget, Length: 370, dtype: int64

In [57]:
movies_data['genres'].value_counts()

[{'id': 18, 'name': 'Drama'}]                                                                                                 692
[{'id': 35, 'name': 'Comedy'}]                                                                                                463
[{'id': 99, 'name': 'Documentary'}]                                                                                           302
[]                                                                                                                            231
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]                                                               176
                                                                                                                             ...
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}, {'id': 36, 'name': 'History'}]                                  1
[{'id': 10769, 'name': 'Foreign'}, {'id': 35, 'name': 'Comedy'}]                                                                1
[{'id': 27, 'name': 'Horror'}, {'id': 53, 'name': 'Thriller'}, {'id': 10769, 'name': 'Foreign'}]                                1
[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 18, 'name': 'Drama'}, {'id': 10752, 'name': 'War'}]      1
[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]                           1
Name: genres, Length: 1268, dtype: int64

In [58]:
movies_data['production_companies'].value_counts()

[]                                                                                                                                                                                                                                                                                  1372
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]                                                                                                                                                                                                                                  120
[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]                                                                                                                                                                                                                       78
[{'name': 'Warner Bros.', 'id': 6194}]                                                                                                                                                                                                                                                68
[{'name': 'Paramount Pictures', 'id': 4}]                                                                                                                                                                                                                                             55
                                                                                                                                                                                                                                                                                    ...
[{'name': 'Paramount Pictures', 'id': 4}, {'name': 'Appian Way', 'id': 562}, {'name': 'Phoenix Pictures', 'id': 11317}, {'name': 'Sikelia Productions', 'id': 23243}]                                                                                                                  1
[{'name': '20th Century Pictures', 'id': 4985}]                                                                                                                                                                                                                                        1
[{'name': 'Apipoulaï', 'id': 1076}, {'name': 'M6 Films', 'id': 1115}, {'name': 'Canal+', 'id': 5358}, {'name': 'TPS Star', 'id': 6586}, {'name': 'Grive Productions', 'id': 6877}, {'name': 'EuropaCorp', 'id': 6896}, {'name': 'M6', 'id': 11261}, {'name': 'W9', 'id': 34774}]       1
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}, {'name': 'Russflix', 'id': 13959}]                                                                                                                                                                                                 1
[{'name': 'Sine Olivia', 'id': 19653}]                                                                                                                                                                                                                                                 1
Name: production_companies, Length: 3583, dtype: int64

In [59]:
movies_data['production_countries'].value_counts()

[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                                                     2349
[]                                                                                                                                                                                              633
[{'iso_3166_1': 'JP', 'name': 'Japan'}]                                                                                                                                                         277
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]                                                                                                                                                276
[{'iso_3166_1': 'FR', 'name': 'France'}]                                                                                                                                                        251
                                                                                                                                                                                               ...
[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}, {'iso_3166_1': 'RU', 'name': 'Russia'}]                             1
[{'iso_3166_1': 'LU', 'name': 'Luxembourg'}]                                                                                                                                                      1
[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IS', 'name': 'Iceland'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]              1
[{'iso_3166_1': 'IL', 'name': 'Israel'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'LB', 'name': 'Lebanon'}]                                1
[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]       1
Name: production_countries, Length: 545, dtype: int64

In [60]:
movies_data['release_date'].value_counts()

2005-09-03    17
2008-01-01    14
1981-01-01    13
2004-01-01    13
1989-01-01    13
              ..
2008-03-29     1
1960-12-01     1
1935-12-25     1
2003-04-10     1
2011-11-17     1
Name: release_date, Length: 4564, dtype: int64

In [61]:
movies_data['revenue'].value_counts()

0.0            5081
2500000.0         4
11000000.0        3
32000000.0        3
6000000.0         3
               ...
940335536.0       1
51142659.0        1
259175788.0       1
6746000.0         1
184770205.0       1
Name: revenue, Length: 1021, dtype: int64

In [62]:
movies_data['runtime'].value_counts()

90.0     316
95.0     201
100.0    200
93.0     159
92.0     139
        ...
252.0      1
925.0      1
237.0      1
207.0      1
34.0       1
Name: runtime, Length: 239, dtype: int64

In [63]:
movies_data['spoken_languages'].value_counts()

[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                2902
[]                                                                                                                                                                                                       312
[{'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                                                                280
[{'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                                                     258
[{'iso_639_1': 'ru', 'name': 'Pусский'}]                                                                                                                                                                 165
                                                                                                                                                                                                        ...
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'my', 'name': ''}, {'iso_639_1': 'th', 'name': 'ภาษาไทย'}]                                                                                          1
[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'he', 'name': 'עִבְרִית'}]                                                                                  1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'pt', 'name': 'Português'}, {'iso_639_1': 'ps', 'name': 'پښتو'}, {'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'ur', 'name': 'اردو'}]       1
[{'iso_639_1': 'ce', 'name': ''}, {'iso_639_1': 'cs', 'name': 'Český'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]                                                                                            1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'pl', 'name': 'Polski'}, {'iso_639_1': 'pt', 'name': 'Português'}]                                                                                  1
Name: spoken_languages, Length: 508, dtype: int64

In [64]:
movies_data['status'].value_counts()

Released           6064
Rumored              37
Post Production      29
In Production         5
Planned               4
Name: status, dtype: int64

In [65]:
movies_data['video'].value_counts()

False    6130
True        9
Name: video, dtype: int64

In [66]:
movies_data['vote_average'].value_counts()

6.0    318
7.0    272
0.0    258
6.5    249
5.0    230
      ...
9.8      1
9.1      1
8.9      1
1.8      1
9.4      1
Name: vote_average, Length: 84, dtype: int64

In [67]:
movies_data['vote_count'].value_counts()

3.0       392
2.0       368
4.0       342
1.0       337
5.0       287
         ...
8226.0      1
1946.0      1
1007.0      1
1410.0      1
324.0       1
Name: vote_count, Length: 740, dtype: int64

In [68]:
movies_data = movies_data.drop(columns = ['adult', 'video', 'status'] , axis = 1 )

In [69]:
movies_data

,movieId,imdbId,tmdbId,title,original_language,overview,popularity,budget,genres,production_companies,...,release_date,revenue,runtime,spoken_languages,vote_average,vote_count,keywords,cast,crew,poster_working_url
1,2,113497,8844.0,Jumanji,en,When siblings Judy and Peter discover an encha...,17.015539,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,19,112281,9273.0,Ace Ventura: When Nature Calls,en,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,30000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'name': 'O Entertainment', 'id': 5682}, {'na...",...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1,1128.0,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,20,113845,11517.0,Money Train,en,A vengeful New York transit cop decides to ste...,7.337906,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'name': 'Columbia Pictures', 'id': 5}]",...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.4,224.0,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,32,114746,63.0,Twelve Monkeys,en,"In the year 2035, convict James Cole reluctant...",12.297305,29500000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.4,2470.0,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...","[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'credit_id': '52fe4212c3a36847f8001ac7', 'de...",https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,34,112431,9598.0,Babe,en,Babe is a little pig who doesn't quite know hi...,14.404764,30000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.0,756.0,"[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'credit_id': '52fe450fc3a36847f80b9ff7', 'de...",https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46894,176235,457437,14885.0,Pooh's Heffalump Halloween Movie,en,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'name': 'Walt Disney Pictures', 'id': 2}]",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.4,7.0,"[{'id': 3335, 'name': 'halloween'}, {'id': 193...","[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...",https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
46898,176249,5690142,404604.0,Mom,hi,The bliss of a biology teacher’s family life i...,1.559596,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","[{'name': 'Mad Films', 'id': 82459}, {'name': ...",...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",6.6,14.0,"[{'id': 155794, 'name': 'physical abuse'}, {'i...","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
46905,176267,102797,30840.0,Robin Hood,en,"Yet another version of the classic epic, with ...",5.683753,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.7,26.0,[],"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
46907,176271,2028550,111109.0,Century of Birthing,tl,An artist struggles to finish his work while a...,0.178241,0.0,"[{'id': 18, 'name': 'Drama'}]","[{'name': 'Sine Olivia', 'id': 19653}]",...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",9.0,3.0,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
46910,176279,6980792,461257.0,Queerama,en,50 years after decriminalisation of homosexual...,0.163015,0.0,[],[],...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",0.0,0.0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [70]:
movies_data.shape

(6139, 21)

In [71]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6139 entries, 1 to 46910
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               6139 non-null   int64
 1   imdbId                6139 non-null   int64
 2   tmdbId                6139 non-null   float64
 3   title                 6139 non-null   object
 4   original_language     6139 non-null   object
 5   overview              6139 non-null   object
 6   popularity            6139 non-null   float64
 7   budget                6139 non-null   float64
 8   genres                6139 non-null   object
 9   production_companies  6139 non-null   object
 10  production_countries  6139 non-null   object
 11  release_date          6139 non-null   object
 12  revenue               6139 non-null   float64
 13  runtime               6139 non-null   float64
 14  spoken_languages      6139 non-null   object
 15  vote_average          6139 non-null   float64
 16  vote_count            6139 non-null   float64
 17  keywords              6139 non-null   object
 18  cast                  6139 non-null   object
 19  crew                  6139 non-null   object
 20  poster_working_url    6139 non-null   object
dtypes: float64(7), int64(2), object(12)
memory usage: 1.0+ MB

In [72]:
movies_data.replace('[]', pd.NA, inplace=True)

# Drop rows with NaN values in any column
movies_data.dropna(inplace=True)

In [73]:
movies_data

,movieId,imdbId,tmdbId,title,original_language,overview,popularity,budget,genres,production_companies,...,release_date,revenue,runtime,spoken_languages,vote_average,vote_count,keywords,cast,crew,poster_working_url
1,2,113497,8844.0,Jumanji,en,When siblings Judy and Peter discover an encha...,17.015539,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,19,112281,9273.0,Ace Ventura: When Nature Calls,en,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,30000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'name': 'O Entertainment', 'id': 5682}, {'na...",...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1,1128.0,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,20,113845,11517.0,Money Train,en,A vengeful New York transit cop decides to ste...,7.337906,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'name': 'Columbia Pictures', 'id': 5}]",...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.4,224.0,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,32,114746,63.0,Twelve Monkeys,en,"In the year 2035, convict James Cole reluctant...",12.297305,29500000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.4,2470.0,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...","[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'credit_id': '52fe4212c3a36847f8001ac7', 'de...",https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,34,112431,9598.0,Babe,en,Babe is a little pig who doesn't quite know hi...,14.404764,30000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.0,756.0,"[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'credit_id': '52fe450fc3a36847f80b9ff7', 'de...",https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46878,176201,232750,5589.0,Šíleně smutná princezna,cs,No overview found.,0.375001,0.0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...","[{'name': 'Filmové Studio Barrandov', 'id': 19...",...,1968-06-07,0.0,73.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",6.1,4.0,"[{'id': 3205, 'name': 'fairy tale'}, {'id': 13...","[{'cast_id': 12, 'character': 'princezna Helen...","[{'credit_id': '52fe440fc3a36847f807ffa3', 'de...",https://image.tmdb.org/t/p/w500/9h5eegOHh1zoaH...
46884,176215,36975,84710.0,Jungle Woman,en,Paula the ape woman (Acquanetta) is alive and ...,0.143223,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...","[{'name': 'Universal Pictures', 'id': 33}]",...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.8,2.0,"[{'id': 208422, 'name': 'paula dupree'}]","[{'cast_id': 2, 'character': 'Paula Dupree - t...","[{'credit_id': '52fe49099251416c910a0a89', 'de...",https://image.tmdb.org/t/p/w500/udZ3hvhC52su7U...
46894,176235,457437,14885.0,Pooh's Heffalump Halloween Movie,en,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'name': 'Walt Disney Pictures', 'id': 2}]",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.4,7.0,"[{'id': 3335, 'name': 'halloween'}, {'id': 193...","[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...",https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
46898,176249,5690142,404604.0,Mom,hi,The bliss of a biology teacher’s family life i...,1.559596,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","[{'name': 'Mad Films', 'id': 82459}, {'name': ...",...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",6.6,14.0,"[{'id': 155794, 'name': 'physical abuse'}, {'i...","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
46907,176271,2028550,111109.0,Century of Birthing,tl,An artist struggles to finish his work while a...,0.178241,0.0,"[{'id': 18, 'name': 'Drama'}]","[{'name': 'Sine Olivia', 'id': 19653}]",...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",9.0,3.0,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...

**Final movies data with 3660 rows and 21 columns**

1. Removed columns - ['adult', 'video', 'status'] in Movies_data(3660) and ['belongs_to_collection', 'homepage', 'tagline', 'imdb_id', 'poster_path', 'original_title'] in Movies_data(6139). 

2. In Movies_data(6139), all missing values are removed except the empty lists present for 'spoken_languages', 'production_countries', 'production_companies', 'genres', 'cast', 'crew' and 'keywords'.

3. In Movies_data(3660) all mising values are removed including empty lists.

4. Dim(Movies_data(3660)) = 3660x21

5. Dim(Movies_data(6139)) = 6139x24

In [74]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3660 entries, 1 to 46907
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               3660 non-null   int64
 1   imdbId                3660 non-null   int64
 2   tmdbId                3660 non-null   float64
 3   title                 3660 non-null   object
 4   original_language     3660 non-null   object
 5   overview              3660 non-null   object
 6   popularity            3660 non-null   float64
 7   budget                3660 non-null   float64
 8   genres                3660 non-null   object
 9   production_companies  3660 non-null   object
 10  production_countries  3660 non-null   object
 11  release_date          3660 non-null   object
 12  revenue               3660 non-null   float64
 13  runtime               3660 non-null   float64
 14  spoken_languages      3660 non-null   object
 15  vote_average          3660 non-null   float64
 16  vote_count            3660 non-null   float64
 17  keywords              3660 non-null   object
 18  cast                  3660 non-null   object
 19  crew                  3660 non-null   object
 20  poster_working_url    3660 non-null   object
dtypes: float64(7), int64(2), object(12)
memory usage: 629.1+ KB